.container{
    position:relative;
    width:1200px;
    height:300px;
    margin: 240px auto;
}
 .box{
    position:relative;
    float:left;
    margin:15px; 
    box-sizing:border-box;
    background:rgba(255,255,255,.2);
    box-shadow:0 5px 15px rgba(0,0,0,0.5);
    overflow:hidden;
    border-radius:10px;
}
.box h2
{
    margin:0 0 20px;
    padding:0;
    font-size:20px;
    text-transform:uppercase;
    color:#000000;
}
section{
    
    background:url('design_files/images/alif-caesar-rizqi-pratama-loUlSOXL81c-unsplash.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display:flex;
    justify-content:center;
}


